<div class="container">
  <div class="summary-panel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Graphs
        </h3>
      </div>

      <div class="panel-body">
        <div class="btn-group">
          <button type="button" class="{{unsortedClass}}" {{action "setGraph" "unsorted"}}>Unsorted</button>
          <button type="button" class="{{sortedClass}}" {{action "setGraph" "sorted"}}>Sorted</button>
          <button type="button" class="{{bstClass}}" {{action "setGraph" "bst"}}>Binary Tree</button>
          <button type="button" class="{{heapClass}}" {{action "setGraph" "heap"}}>Binary Heap</button>
        </div>

        {{node-graph type=type data=data}}
        {{outlet}}
      </div>
    </div>
  </div>
</div>
